body {background: linear-gradient(#ffffff 0%-50%, #007fff 51%-100%); font-family: copperplate;}
.center {display: block; margin-left: auto; margin-right: auto; width:60%; height: 50%; margin-top:-80px; }
h1 {font-size: 3rem; margin-left: auto; margin-right: auto; color:#ffa500; text-align: center; border-bottom: 2px dotted #ffae00; padding-bottom: 30px; margin-top: -80px;  }
h2 {text-align: center; font-size: 2rem; color:#fcdfd7;margin-top: -20px; padding: 20px; } 
h3 {text-align: center; font-size: 1.7rem; color:#fcdfd7; padding: 5px; margin:20px; margin-top: 30px; padding-bottom:30px; margin-bottom: 50px; }
p {font-size: 1.2rem; color:#ffae00; text-align:center; margin-top:-25px; }
.field {display: block; margin-left:auto; margin-right:auto; text-align:center; padding: 10px; border:none; }
.textbox { font-size: 2rem; font-family: copperplate; width: 40%; margin-right: 30px;}
button {font-size: 2rem; background-color: #ffae00; color:#007fff; font-family: copperplate; border-radius: 8px; width: 25%; margin-left: 30px; }
#result {font-size: 1.5rem;margin-top: 20px; margin-bottom: 5px;}
